@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.loader {
    display: inline-block;
    text-align: center;
    border: 10px dashed rgb(255, 251, 0);
    padding: 20px;
    border-radius: 10em;
    animation: spin 1s linear infinite;
}
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
